name: 'SDLTooSharp Continuous Integration'
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  build:
    name: "Build and Test"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        dotnet_versions: [ '6.0', '7.0', '8.0' ]
        configuration: [ 'Release' ]
    
    steps:
      - name: Setup Environment
        run: |
          sudo apt-get update -y -qq && \
          sudo apt-get install -y -qq libsdl2-dev libsdl2-image-dev \
          libsdl2-mixer-dev libsdl2-ttf-dev 
      
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Verify Coding Standards
        run: dotnet format --no-restore --verify-no-changes

      - name: Build
        run: dotnet build --configuration ${{matrix.configuration}} --framework net${{matrix.dotnet_versions}} --no-restore

      - name: Test PR
        run: |
          dotnet test --no-restore --no-build --configuration ${{matrix.configuration}} \
          --verbosity=normal \
          --collect:"XPlat Code Coverage" --results-directory ./coverage \
          --framework net${{matrix.dotnet_versions}} \
          --logger:"liquid.md;LogFileName=${{github.workspace}}/${{env.file_name}};Title=${{env.title}};"
