name: Release Workflow
on: 
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs: 
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Verify commit exists in master
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git branch --remote --contains | grep origin/master
      
      - name: Set Version from Tag
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
        
      - name: Build
        run: dotnet build --configuration Release /p:Version=${VERSION}

      - name: Pack
        run: dotnet pack --configuration Release /p:Version=${VERSION} --no-build --output .
      
      - name: Push
        run: dotnet nuget push SDLTooSharp.${VERSION}.nupkg --source "https://nuget.pkg.github.com/MisterIcy/index.json" --api-key ${GITHUB_TOKEN}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
